@page "/"
@using dba.Models;
@using dba.Services;
@inject IDbaService DbaService;
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@code
{
    //IEnumerable<Device>? devices;

    //protected override async Task OnInitializedAsync()
    //{
        //devices = await DbaService.GetDevicesAsync();
    //}
}